:root{
    --main-color : #cccccc;
    /* --hover-color : #e9ae2f; */
 }

a{
    text-decoration: none;
    color : black;
}

h3{
    margin: 50px 0 10px 0;
    min-width: 150px;
}

main{
    flex-grow: 1;
}

.tag{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding: 0 10px;
}
#writeBtn{
    width: 100px;
    min-width: 100px;
    height: 30px;
    background-color: #000;
    color: white;
    border-radius: 50px;
    border: none;
}
#writeBtn:hover{
    background-color: #fff;
    color: black;
    border: 1px solid #ddd;
}


/* 게시판 미리보기 */
.card-container{
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin: 30px auto;
    margin-top: 10px;
    padding: 16px;
 }
 .card-container>a{
    font-weight: bold;
 }
 .card-container i{
    margin-left: 5px;
 }
 .card-row{
    display: flex;
    justify-content: space-around;
    margin: 10px;
 }
 .card{
    width: 100%;
    height: 240px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .card>img{
    width: 70%;
    height: 100%;
    object-fit: cover;
    margin: 5px 30px;
    border-radius: 5px;

    min-width: 160px;
 }

 .card>img:hover{
    transform: scale(1.02);
    transition: 0.3s;
 }
 
 

/* 검색 */
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

#boardSearch * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#boardSearch{
    min-width: 425px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#boardSearch select{
    width: 100px;
    height: 100%;
}

#boardSearch input{
    flex-grow: 1;
    margin: 0 10px;
    padding-left: 10px;
    height: 100%;
}  

#boardSearch button{
    
    width: 30px;
    height: 100%;

    font-weight: bold;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 20px;

    cursor: pointer;
    

}

/* 페이지 이동 */

.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    min-width: 800px;
}

.pagination li{
    width: 20px;
    margin: 0 5px;
    text-align: center;
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
}
