<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{common/common}"></th:block>
    <title>입양 상세 조회</title>
    <link rel="stylesheet" href="/css/review/review-detail.css">
    <link rel="stylesheet" href="/css/review/comment-style.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
       
       
        <section class="board" th:object="${review}">


            <div class="title-area">
                <h1 th:text="*{reviewTitle}">제목</h1>
                <div class="btn-area" th:if="${session.loginMember?.memberNo==review.memberNo}">>
                    <button class="update-btn">수정</button>
                    <button class="delete-btn">삭제</button>
                </div>
            </div>


            <div class="info-bar">
                <div class="info">
                <img th:src="*{profileImg}" id="profile">
                <th:block th:text="*{memberNickname}">회원명</th:block>
            </div>

            <div class="right-bar">
                <div class="view-count">
                    <i class="fa-regular fa-eye"></i>
                    <th:block th:text="*{readCount}">조회수</th:block>
                </div>
                <div class="view-count">
                    <th:block>작성일</th:block>
                    <th:block th:text="*{reviewWriteDate}">yyyy-mm-dd</th:block>
                </div>
            </div>

            </div>


            <hr>


            <section class="board-box">
                <div class="info-box">
                    <img th:src="*{thumnail}" class="reviewion-img">
                </div>
                <th:block class="reviewContent" th:utext="*{reviewContent}"></th:block>
            </section>



            <section class="comment-box">
                <!-- 댓글 영역-->
                <th:block th:replace="~{review/comment}"></th:block>

            </section>

            <button id="listBtn" onclick="location.href='/review/reviewList'">목록으로</button>
        </section>

    </main>

    <script th:inline="javascript">
        const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ "로그인 회원 번호"; 
        const reviewNo = /*[[${review.reviewNo}]]*/ "리뷰 게시글 번호";
    </script>

    <th:block th:replace="~{common/footer}"></th:block> 
    <script src="/js/review/reviewDetail.js"></script>

</body>
</html>