<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{common/common}"></th:block>
    <title>입양 상세 조회</title>
    <link rel="stylesheet" href="/css/review/review-detail.css">
    <link rel="stylesheet" href="/css/review/comment-style.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
       
       
        <section class="board">


            <div class="title-area">
                <h1>제목</h1>
                <div class="btn-area">
                    <button class="update-btn">수정</button>
                    <button class="delete-btn">삭제</button>
                </div>
            </div>


            <div class="info-bar">
                <div class="info">
                <img src="/images/cat1.jpg" id="profile">
                <th:block>회원명</th:block>
            </div>

            <div class="right-bar">
                <div class="view-count">
                    <i class="fa-regular fa-eye"></i>
                    <th:block>조회수</th:block>
                </div>
            </div>

            </div>


            <hr>


            <section class="board-box">
                <div class="info-box">
                    <img src="/images/cat1.jpg" class="adoption-img">
                </div>
                <th:block class="reviewContent">동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리 나라만세</th:block>
            </section>



            <section class="comment-box">
                <!-- 댓글 영역-->
                <th:block th:replace="~{review/comment}"></th:block>

            </section>

            <button id="listBtn" onclick="location.href='/review/reviewList'">목록으로</button>
        </section>

    </main>
    <th:block th:replace="~{common/footer}"></th:block> 
    <script src="/js/review/reviewDetail.js"></script>
    
</body>
</html>