<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기 게시판 글쓰기</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/review/review-write.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
        
        <form action="/review/reviewWrite" method="POST" id="submitPost">
            <section class="board">
                <h1><input type="text" placeholder="제목" name="reviewTitle" id="reviewTitle"></h1>
                <section class="board-box">

                    <textarea name="reviewContent" id="reviewContent" cols="100" rows="10" placeholder="내용을 입력해주세요."></textarea>
                    <button>글작성</button>

                </section>
            </section>
        </form>
    </main>

    <th:block th:replace="~{common/footer}"></th:block> 
    <!-- editor -->
    <script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>

    <script type="text/javascript">
        var oEditors = [];

        nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "reviewContent", // textarea id값
        sSkinURI: "/smarteditor/SmartEditor2Skin.html", // SmartEditor2Skin.html 경로
        fCreator: "createSEditor2"
        });
    </script>

    <script src="/js/review/reviewWrite.js"></script>

  </script>
