<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{common/common}"></th:block>
    <title>입양 상세 조회</title>
    <link rel="stylesheet" href="/css/adoption/adoption-detail.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
       
       
        <section class="board">


            <h1>제목</h1>


            <div class="info-bar">
                <div class="info">
                <img src="/images/cat1.jpg" id="profile">
                <th:block>회원명</th:block>
            </div>

            <div class="right-bar">
                <div class="view-count">
                    <i class="fa-regular fa-eye"></i>
                    <th:block>조회수</th:block>
                </div>
                <div class="bookmark">
                        <i class="fa-regular fa-bookmark"></i> 
                </div>
            </div>

            </div>


            <hr>


            <section class="board-box">
                <div class="info-box">
                    <img src="/images/dog1.jpg" class="adoption-img">
                    <table border="1px" style="border-collapse: collapse;">
                        <tr>
                            <th>
                                이름
                            </th>
                            <td>
                                미상
                            </td>
                        </tr>
                        <tr>
                            <th>
                                나이
                            </th>
                            <td>
                                1살 추정
                            </td>
                        </tr>
                        <tr>
                            <th>
                                종
                            </th>
                            <td>
                                강쥐
                            </td>
                        </tr>
                        <tr>
                            <th>
                                발견장소
                            </th>
                            <td>
                                공원
                            </td>
                        </tr>
    
                    </table>
                </div>
                <th:block>동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리 나라만세</th:block>
    
                <button id="contactBtn">문의하기</button>

                <button id="listBtn" onclick="location.href='/adoption/adoptionList'">목록으로</button>
            </section>
        </section>

    </main>
    <th:block th:replace="~{common/footer}"></th:block> 

    
</body>
</html>