<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{common/common}"></th:block>
    <title>입양 문의</title>
    <link rel="stylesheet" href="/css/adoption/adoption-contact.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}" th:object="${contactInput}"></th:block>


            <div class="content">
                
                <form th:action="@{/contactAdopt/{adoptNo}/contact (adoptNo=${adoptNo})}" method="POST">

                    <p>* 다음 양식을 채워주세요</p>

                    <table class="formBox">
                        <tbody class="">
                            <tr class="row text-input">
                                <th>1. 신청인 성명</th>
                                <td><input type="text" name="contactName" id="contactName" placeholder="신청인 성명"></td>
                            </tr> 
                            
                            <tr class="row radio-input">
                                <th>2. 성별</th>
                                
                                <td>
                                    <label for="adoptGenderM">
                                        <input type="radio" name="contactGender" id="adoptGenderM" value="M">M
                                    </label> 
                                    
                                    <label for="adoptGenderW">
                                        <input type="radio" name="contactGender" id="adoptGenderW" value="W">W
                                    </label>          
                                </td>
                            </tr>
        
                            <tr class="row text-input">
                                <th>3. 연령</th>
                                <td><input type="text" name="contactAge" id="contactAge" placeholder="신청인 연령"></td>
                            </tr> 
        
                            <tr class="row text-input">
                                <th>4. 연락처</th>
                                <td><input type="text" name="contactTel" id="contactTel" placeholder="연락처"></td>            
                            </tr> 
                            
                            <tr class="row text-input">
                                <th>5. 연락 가능한 시간</th>
                                <td><input type="text" name="contactTime" id="contactTime" placeholder="연락 가능한 시간"></td>            
                            </tr> 
        
                            <tr class="row text-input">
                                <th>6. 거주 지역</th>
                                <td><input type="text" name="contactAddress" id="contactAddress" placeholder="거주 지역"></td>            
                            </tr> 
        
                            <tr class="row radio-input">
                                <th>7. 결혼여부</th>
                                
                                <td>
                                    <label for="adoptMarr">
                                        <input type="radio" name="contactMarry" id="adoptMarr" value="Y">Y
                                    </label>          
                                    <label for="adoptMarrN">
                                        <input type="radio" name="contactMarry" id="adoptMarrN" value="N">N
                                    </label>
                                </td>   
        
                            </tr>
        
                            <tr class="row text-input">
                                <th>8. 신청인 직업</th>
                                <td><input type="text" name="contactJob" id="contactJob" placeholder="신청인 직업"></td>
                            </tr> 
                            
                            <tr class="btn-area">
                               <th colspan="2" class="btn"> <button>문의 등록</button></th>
                            </tr>
                        </tbody>
                    </table>

                </form>

            </div>


    </main>
    <th:block th:replace="~{common/footer}"></th:block> 
    <script src="/js/adoption/adoptionContact.js"></script>
    
</body>
</html>