<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{common/common}"></th:block>
    <title>입양 상세 조회</title>
    <link rel="stylesheet" href="/css/adoption/adoption-detail.css">
</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
       
       
        <section class="board" th:object="${adopt}">


            <div class="title-area">
                <h1 th:text="*{adoptTitle}">제목</h1>
                <div class="btn-area" th:if="${session.loginMember?.memberNo==adopt.memberNo}">
                    <button class="update-btn">수정</button>
                    <button class="delete-btn">삭제</button>
                </div>
            </div>


            <div class="info-bar">
                <div class="info">
                <img th:src="*{profileImg}" id="profile">
                <th:block th:text="*{memberNickname}">회원명</th:block>
            </div>

            <div class="right-bar">
                <div class="view-count">
                    <i class="fa-regular fa-eye"></i>
                    <th:block th:text="*{readCount}">조회수</th:block>
                </div>
                <div class="view-count">
                    <th:block>작성일</th:block>
                    <th:block th:text="*{adoptWriteDate}">yyyy-mm-dd</th:block>
                </div>
                <div class="bookmark">
                        <i class="fa-regular fa-bookmark" id="bookmarkCheck"
                        th:classappend="*{bookMark == 1} ? fa-solid : fa-regular"></i>
                         
                </div>
            </div>

            </div>


            <hr>


            <section class="board-box">
                <div class="info-box">
                    <img th:src="*{thumnail}" class="adoption-img">
                    <table border="1px" style="border-collapse: collapse;">
                        <tr>
                            <th>
                                이름
                            </th>
                            <td th:text="*{adoptName}">
                                미상
                            </td>
                        </tr>
                        <tr>
                            <th>
                                나이
                            </th>
                            <td th:text="*{adoptAge}">
                                1살 추정
                            </td>
                        </tr>
                        <tr>
                            <th>
                                종
                            </th>
                            <td th:text="*{adoptType}">
                                강쥐
                            </td>
                        </tr>
                        <tr>
                            <th>
                                발견장소
                            </th>
                            <td th:utext="*{adoptAddress}">
                                공원
                            </td>
                        </tr>
    
                    </table>
                </div>
                <th:block th:utext="*{adoptContent}">동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리 나라만세</th:block>
    
                <button id="contactBtn" onclick="location.href='/adoption/adoptionContact'">문의하기</button>

                <button id="listBtn" onclick="location.href='/adoption/adoptionList'">목록으로</button>
            </section>
        </section>



    </main>
    <th:block th:replace="~{common/footer}"></th:block> 


    <script th:inline="javascript">

      const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/"로그인 회원 번호";
       /* 현재 게시글 번호를 전역 변수로 저장 */
       const adoptNo = /*[[${adopt.adoptNo}]]*/"입양 게시글 번호";

        /* 현재 게시글 좋아요 여부(boardLike)를 전역 변수로 저장 */
        let bookMark =/*[[${adopt.bookMark}]]*/ "북마크 여부";



    </script>

    <script src="/js/adoption/adoptionDetail.js"></script>
    
</body>
</html>