<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <th:block th:replace="~{common/common}"></th:block>
    <link rel="stylesheet" href="/css/adoption/adoption-list.css">

</head>
<body>
    <main>
        <th:block th:replace="~{common/header}"></th:block>
        <div>
            <table class="card-container">
                <tr>
                    <td class="card">
                        <a href="#">
                            <img src="/images/cat1.jpg" alt=""><br>
                            고양이
                        </a>
                    </td>
                    <td class="card">
                        <a href="#">
                            <img src="/images/cat1.jpg" alt=""><br>
                            고양이
                        </a>
                    </td>
                    <td class="card">
                        <a href="#">
                            <img src="/images/cat1.jpg" alt=""><br>
                            고양이
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="card">
                        <a href="#">
                            <img src="/images/cat1.jpg" alt=""><br>
                            고양이
                        </a>
                    </td>
                    <td class="card">
                        <a href="#">
                            <img src="/images/cat1.jpg" alt=""><br>
                            고양이
                        </a>
                    </td>
                    <td class="card">
                        <a href="#">
                            <img src="/images/cat1.jpg" alt=""><br>
                            고양이
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="card">
                        <a href="#">
                            <img src="/images/cat1.jpg" alt=""><br>
                            고양이
                        </a>
                    </td>
                    <td class="card">
                        <a href="#">
                            <img src="/images/cat1.jpg" alt=""><br>
                            고양이
                        </a>
                    </td>
                    <td class="card">
                        <a href="#">
                            <img src="/images/cat1.jpg" alt=""><br>
                            고양이
                        </a>
                    </td>

                </tr>
            </table>
        </div>
        

        
        

    <!-- 검색창 -->
			<form th:action="@{{boardCode}(boardCode=${boardCode})}" method="get" id="boardSearch">

				<select name="key" id="searchKey">
					<option value="t">제목</option>
					<option value="c">내용</option>
					<option value="tc">제목+내용</option>
					<option value="w">작성자</option>
				</select>

				<input type="text" name="query" id="searchQuery" placeholder="검색어를 입력해주세요.">

				<button>검색</button>
			</form>
    </main>
    <th:block th:replace="~{common/footer}"></th:block> 
</body>
</html>