<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.pawlife.myPage.model.mapper.MyPageMapper">
  
  
   <!-- 로그인한 회원이 작성한 입양 게시글 조회 -->
   <select id="selectAdopt" resultType="adopt">
     SELECT MEMBER_NO, ADOPT_NO,THUMNAIL , ADOPT_NAME , ADOPT_AGE, 
     ADOPT_TYPE , ADOPT_ADDRESS , ADOPT_DEL_FL, ADOPT_COMPL
     FROM "ADOPT"
     WHERE MEMBER_NO =#{memberNo}
     AND ADOPT_DEL_FL='N'
     ORDER BY ADOPT_NO DESC
   </select>
  
  
  
  <!-- 로그인한 회원이 작성한 후기 게시글 조회 -->
    <select id="selectReview" resultType="review">
     SELECT REVIEW_TITLE, READ_COUNT, REVIEW_NO,
       TO_CHAR(REVIEW_WRITE_DATE, 'YYYY-MM-DD') AS "REVIEW_WRITE_DATE"
     
     FROM "REVIEW"
     WHERE MEMBER_No=#{memberNo}
      AND REVIEW_DEL_FL='N'
      
      ORDER BY REVIEW_NO DESC
    </select>
    
     <!-- 로그인한 회원이 작성한 댓글 조회 -->
    <select id="selectComment" parameterType="int" resultType="review">
     SELECT C.REVIEW_NO, C.MEMBER_NO, R.REVIEW_TITLE, C.COMMENT_CONTENT, 
    TO_CHAR(C.COMMENT_WRITE_DATE, 'YYYY-MM-DD') AS "COMMENT_WRITE_DATE"
    FROM "REVIEW" R
    JOIN "COMMENT" C ON R.REVIEW_NO = C.REVIEW_NO
    WHERE C.COMMENT_NO IN (
    SELECT COMMENT_NO 
    FROM "COMMENT"
    WHERE MEMBER_NO = #{memberNo})
    AND COMMENT_DEL_FL ='N'
    
    ORDER BY COMMENT_NO DESC

    </select>
    
    
    <!-- 로그인한 회원이 북마크한 게시물 조회 -->
    <select id="selectBookMark" resultType="adopt">
        SELECT A.ADOPT_TITLE, A.ADOPT_NO, A.ADOPT_COMPL 
       FROM "BOOKMARK" B
       JOIN "ADOPT" A ON (A.ADOPT_NO = B.ADOPT_NO)
       WHERE B."MEMBER_NO" = #{memberNo}
       
       ORDER BY ADOPT_NO DESC
    </select>
    
    
    <!-- 개인정보 수정( 닉네임/ 전화번호 ) -->
      <update id="profileUpdate">
         UPDATE "MEMBER" SET
	     MEMBER_NICKNAME=#{memberNickname}, 
	     MEMBER_TEL=#{memberTel}
	     WHERE MEMBER_NO= #{memberNo}
      </update>
      
      
       <!-- 현재 비밀 번호 맞는지 확인-->
	  <select id="selectPw" resultType = "string" >
	 	  SELECT MEMBER_PW
	 	  FROM "MEMBER"
	 	  WHERE MEMBER_NO = #{memberNo}
	 	</select>
	 	
 	 	<!-- 비밀번호 수정 -->
 	<update id="changeMemberPw">
	 	UPDATE "MEMBER" SET
	 	MEMBER_PW = #{encPw}
	 	WHERE MEMBER_NO = #{memberNo}
 	</update>
   
   	<!-- 프로필 이미지 변경 -->
	<update id="profile">
	    UPDATE "MEMBER" SET
	  <if test="profileImg != 'none'">
	    PROFILE_IMG = #{profileImg}
	  </if>
	  WHERE MEMBER_NO = #{memberNo}
	</update>
	
	 	
 	
    
    <!-- 회원 탈퇴 -->
      <update id="deleteMember">
        UPDATE "MEMBER" SET
        MEMBER_DEL_FL ='Y'
        WHERE MEMBER_NO = #{memberNo}
      </update>
      
      
      
      <!-- 로그인한 회원이 작성한 입양 게시글 수정 페이지로 이동-->
	<select id="selectOneAdopt">
		SELECT ADOPT_NO,ADOPT_TITLE, ADOPT_CONTENT,
				THUMNAIL, ADOPT_NAME, ADOPT_AGE, ADOPT_TYPE, ADOPT_ADDRESS,
				READ_COUNT,
				MEMBER_NO,MEMBER_NICKNAME,PROFILE_IMG,
				TO_CHAR(ADOPT_WRITE_DATE,'YYYY-MM-DD HH24:MI:SS') ADOPT_WRITE_DATE,
				TO_CHAR(ADOPT_UPDATE_DATE,'YYYY-MM-DD HH24:MI:SS') ADOPT_DATE_DATE
				
				<if test="memberNo!=null">
				,(SELECT COUNT(*) FROM BOOKMARK
				WHERE ADOPT_NO=#{adoptNo} AND MEMBER_NO=#{memberNo}) BOOKMARK
				</if>
				
		FROM ADOPT
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE ADOPT_DEL_FL='N'
		AND BOARD_CODE=1
		AND ADOPT_NO=#{adoptNo}
	</select>
	
	
	<!-- 로그인한 회원이 작성한 입양 게시글 완료 여부 변경 -->
      <update id="changeAdoptComplete" parameterType="Adopt">
	  	UPDATE "ADOPT"
	    SET ADOPT_COMPL = #{adoptCompl}
	    WHERE ADOPT_NO = #{adoptNo}
	    AND MEMBER_NO = #{memberNo}
	  </update>
	  
	  
	  <!-- 회원 게시글 수 조회 -->
	   <select id="memberListCount">
	     SELECT COUNT(*) FROM "ADOPT"
	     WHERE MEMBER_NO= #{memberNo}
	   </select>
	
	  <!-- 회원 게시글 수 조회 -->
	   <select id="reviewListCount">
	     SELECT COUNT(*) FROM "REVIEW"
	     WHERE MEMBER_NO= #{memberNo}
	   </select>
	   
	  <!-- 회원 게시글 수 조회 -->
	   <select id="commentListCount">
	     SELECT COUNT(*) FROM "COMMENT"
	     WHERE MEMBER_NO= #{memberNo}
	   </select>
	   
	
	  <!-- 회원이 북마크한 게시글 수 조회 -->
	   <select id="bookmarkListCount">
	     SELECT COUNT(*) FROM "BOOKMARK"
	     WHERE MEMBER_NO= #{memberNo}
	   </select>
	   
	
	   
	
</mapper>
