:root{
   --main-color : rgb(204, 204, 204);
   /* --hover-color : #e9ae2f; */
}

*{
   /* border: 1px solid var(--main-color); */
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
body{
   display: flex;
   flex-direction: column; /* 중심축 방향 세로 */
   align-items: center;    /* 교차축 방향 가운데 정렬 */
   min-height: 100vh;      /* 최소 높이를 화면 비율 100% */
}
main{
   width: 1140px;
   flex-grow: 1;           /* 중심축 방향으로 팽창 */
   min-height: 500px;
}
/* 화면 너비가 1140px이 되기 전에 적용할 css == 1140이하일때 적용 */
@media (max-width: 1140px){
   main{width: 100vw;}
}

/* a태그 스타일 지정 */
a{
   text-decoration: none;
   color : black;
}

/* ------------------ */
/* ***** header ***** */
/* ------------------ */
header{
   margin: 10px;
   height: 125px;
   display: flex;
   flex-direction: column;  
}

/* 로그인, 회원가입 */
.header-top-menu{
   display: flex;
   align-items: flex-end;
   flex-direction: column;
}
.header-top-menu a{
   padding: 0 10px;
}

/* 로고(사진, 글) */
.home-logo-area{
   display: flex;
   align-items: center;
   justify-content: center;
}
.home-logo-area>div>a{
   margin: 10px;
}
#homeLogoImage{
   width: 60px;
}
#homeLogoTitle{
   font-size: 46px;
   font-weight: bold;
}
/* 네비게이션 바 */
nav{
   border-top: 1px solid var(--main-color);
   height: 50px;
   position: sticky;
   z-index: 1000;
}
nav>ul{
   display: flex;
   list-style: none;
   height: 100%;
   align-items: center;
   justify-content: center;

}
nav li{
   flex: 0 1 280px;
   text-align: center;
   font-weight: bold;
}
nav a{
   font-weight: bold;
   padding: 11px 0;  
   display: block;
   text-align: center;
   height: 100%;
}
/* ------------------ */
/* ***** footer ***** */
/* ------------------ */

footer{
   width: 100vw;
   height: 200px;
   background-color: #a3add342;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
footer>p {
   font-weight: bold;
   margin: 16px 0;
}
footer>article>* {
   font-size: 14px;
}
footer span {
   padding: 0 10px;
}
/* carousel */
.carousel{
   height: 300px;
   background-color: var(--main-color);
}
/* ------------------ */
/* *****  main  ***** */
/* ------------------ */
.content1{
   margin: 30px 0;
   display: flex;
   justify-content: space-between;
}

/* 레이아웃용 빈공간 */
.content1:first-child{ 
   width: 60%;
}

/* 로그인 박스 */
.login-box{
   width: 20%;
   border: 1px solid var(--main-color);
   border-radius: 10px;
   padding: 10px;
   display: flex;
   flex-direction: column;
   padding: 10px;
}
#loginFrm>input{
   width: 100%;
   height: 22px;
   border: none;
}
#loginFrm :first-child{
   border-bottom: 1px solid var(--main-color);
}
#loginFrm>input:hover{
   border: 1px solid var(--main-color);
   border-radius: 3px;
}
#loginFrm>input:focus{
   outline: none;
}
#loginFrm>button{
   width: 100%;
   height: 22px;
   background-color: var(--main-color);
   border: none;
   border-radius: 5px;
   margin-top: 10px;
}



/* 게시판 미리보기 */
.card-container{
   width: 60%;
   border: 1px solid var(--main-color);
   border-radius: 10px;
   margin: 30px auto;
   padding: 16px;
}
.card-container>a{
   font-weight: bold;
}
.card-container i{
   margin-left: 5px;
}
.card-container>div{
   display: flex;
   justify-content: space-around;
}
.card{
   width: 100%;
   height: 240px;
   margin: 10px 16px;
   flex: 1 1 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.card img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin: 10px;
   border-radius: 10px;
}