/* ------------------ */
/* ****** form ****** */
/* ------------------ */
.content {
   display: flex;
   flex-direction: column;
}

form {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-content: space-between;
   align-items: center;
   border: 1px solid #b1ab9a;
   border-radius: 5px;
   padding: 60px;
   margin-top: 50px;
   margin-bottom: 100px;
}

tbody{
   display: flex;
   flex-direction: column;
   align-items: center;
}

th{
   width: 60%;
   display: flex;
   justify-content: left;
   align-items: center;
}
th>button{
   display: flex;
   justify-content: center;
}

td{
   width: 400px;
   display: flex;
   justify-content: end;
}


.row {
   display: flex;
   width: 70%;
   margin: 10px;
   justify-content: space-between;
}

.text-input input {
   width: 100%;
   height: 35px;
   padding-left: 10px;
   margin-left: 10px;
   outline: none;

   border:none;
   border-bottom: 1px solid #e2dbc9;
}
.radio-input > label {
   padding-right: 10px;
}
.radio-input input{
   margin: 0 5px;
}

[type='radio']{
   vertical-align: middle;
   appearance: none;
   border: max(2px, 0.1em) solid #b1ab9a;
   border-radius: 50%;
   width: 1.25em;
   height: 1.25em;
}

[type='radio']:checked{
   border: 0.4em solid #b1ab9a;
}

[type="radio"]:focus-visible {
   outline: max(2px, 0.1em) dotted #b1ab9a;
   outline-offset: max(2px, 0.1em);
 }

.btn-area{
   display: flex;
   justify-content: center;
   align-items: center
}

.btn{
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.btn > button {
   width: 150px;
   height: 30px;
   margin: 10px;
   background-color: white;
   border-radius: 5px;
   border: 1px solid #b92828;
   align-items: center;
   color: #b92828;
}
.btn > button:hover {
   background-color: #b92828;
   color: white;
}

.formBox{
   display: flex;
   flex-direction: column;

}