a{
    text-decoration: none;
    color : black;
}

a:hover {
    text-decoration: underline;
}

/* 게시판 미리보기 */
.card-container{
    width: 80%;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin: 30px auto;
    padding: 16px;
 }
 .card-container>a{
    font-weight: bold;
 }
 .card-container>td{
    display: flex;
    justify-content: space-around;
 }
 .card{
    width: 100%;
    height: 240px;
    margin: 10px 16px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .card img{
    width: 150px;
    height: 100%;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
 }


/* 검색 */

#boardSearch * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#boardSearch select{
    width: 100px;
}

#boardSearch input{
    flex-grow: 1;
    margin: 0 10px;
    padding-left: 10px;
}  

#boardSearch button{
    
    width: 100px;

    font-weight: bold;
    background-color: #000000;
    border: none;
    color: white;
    border-radius: 20px;

    cursor: pointer;
    

}