<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 북마크한 게시글</title>
</head>
<body>
    

     <!-- 북마크 -->
     <div class="profile-container">

        <table class="board-table col-2">
          <thead>
            <tr>
              <th>제목</th>
              
              <th>입양 완료</th>  
            </tr>

          </thead>

          <tbody id="bookmarkList">
        <!--     <tr>
              <td><a href="#">종로구/푸들</a></td>
              <td>완료</td>
            </tr>

            <tr>
              <td><a href="#">남대문구/말티즈</a></td>
              <td>미완료</td>
            </tr>

            <tr>
              <td><a href="#">중구/무슨 강아지</a></td>
              <td>완료</td>
            </tr> -->
          </tbody>
        </table>
      </div>


</body>
</html>