<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 쓴 게시글</title>

   
</head>
<body>
  
     <!-- 내가 쓴 게시글 (입양후기) -->

     <div class="profile-container">

        <table class="board-table review-table" id="reviewTable">
          <thead>
            <tr>
              <th>게시글 제목</th> <!-- 내가쓴 게시글 파일로 주소 연결 -->
              <th>조회수</th>
              <th>댓글</th>
              <th>게시일</th>
            </tr>
          </thead>

          <tbody id="reviewBox">
         


          </tbody>
        </table>
      </div>

      <script src="/js/myPage/myPage.js"></script>
</body>
</html> 