<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 쓴 댓글</title>
</head>
<body>

     <!-- 내가 쓴 댓글 -->
     <div class="mycomment-container">

        <table class="board-table col-2">
          <thead>
            <tr>
              <th>게시글 제목</th>
              <th>내가 쓴 댓글 내용</th>  
            </tr>
          </thead>

          <tbody id="commentList">
            <tr>
              <td>안녕하세요</td>
              <td>와오앙</td>
            </tr>

            <tr>
              <td>입양후기</td>
              <td>예뻐요</td>
            </tr>
            <tr>
              <td>커뮤니티 게시글</td>
              <td>와오앙</td>
            </tr>


          </tbody>
        </table>
      </div>
    
      <script src="/js/myPage/myPage.js"></script>
</body>
</html>