<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인 정보 수정</title>


    <!-- 공용 css/ js 추가 -->
    <th:block th:replace="~{common/common}"></th:block>
    <!-- myPage 전용  CSS -->
    <link rel="stylesheet" href="/css/myPage/myPage.css">
</head>
<body>
    <main>
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>


    </main>
</body>
</html>