<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title><!-- 첫 화면 -->

    <!-- 공용 css/ js 추가 -->
    <th:block th:replace="~{common/common}"></th:block>
    <!-- myPage 전용  CSS -->
    <link rel="stylesheet" href="/css/myPage/myPage.css">
</head>
<body>
    <main>

        <!-- 헤더 추가 -->
        <th:block th:replace="~{common/header}"></th:block>

        <section class="myPage-content">


            <!-- 여기에  페이지 이름이랑 버튼들 추가 -->

           

            <div class="boardTitle-area">
              
              <h2 class="board-name">마이페이지</h2> 

            </div>
            


          <!-- 마이페이지 메뉴 버튼 -->
          <div class="listbtn-area">
            
              <button type="button" class= "button" id="profileListBtn">프로필</button>
            
            
              <button type="button" class= "button" id="adoptionListBtn">입양하기</button>
           
            
              <button type="button" class= "button" id="boardListBtn">입양 후 이야기</button>
            
            
              <button type="button" class= "button" id="commentListBtn">내가 쓴 댓글</button>
            

              <button type="button" class= "button" id="bookListBtn">북마크한 게시글</button>
            
          </div>




         <!-- 마이페이지 본문 -->
      <section class="myPage-main">

          <!-- 프로필  -->

        <div class="profile-container" id="profileContainer">

                    
          <form action="profile" method="POST"
          name="profileForm" id="profileForm" enctype="multipart/form-data">
          
            <!-- session.loginMember.profileImg ?:  -->
              <div class="profileImg-area">

                <img th:with="user=#{user.default.image}" 
                th:src="${session.loginMember.profileImg ?:user }" 
                id="profileImg">

              </div>
              

              <input type="hidden" name="statusCheck" value="-1">

              <span id="deleteImage">x</span>


              <div class="profile-btn-area">
                <label for="imageInput">이미지 선택</label>
                <input type="file" name="imageInput" id="imageInput" accept="image/*">
                <button >변경하기</button>
                
              </div>

           
             
            
          </form>

              <div class="profileNickName">

              
              <th:block th:if="${session.loginMember != null}"
               th:text="${session.loginMember.memberNickname}">닉네임
              </th:block>

             </div>

              <div>
                <button id="profileUpdateBtn">개인정보 수정하기</button>
              </div>


              <div class="memberDelete-area"></div>
                  <form action="memberdel" method="POST" name="memberDel" id="memberDel">

                  
                    <button id="memberDelBtn">회원 탈퇴</button>
                  
                  </form>

              </div>

              
            
        </div>
                    


         </section>

        </section>

    </main>

    <!-- 푸터 추가 -->
    <th:block th:replace="~{common/footer}"></th:block>

   
      <!-- 타임리프 코드를 JS 코드로 해석해줌 -->
    <script th:inline="javascript">
      const loginMemberProfileImg = /* [[${session.loginMember.profileImg}]] */"회원 프로필 이미지";
    </script>


    <script src="/js/myPage/myPage.js"></script>
    <script src="/js/myPage/myPageProfile.js"></script>
</body>
</html>