<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인 정보 수정</title>


    <!-- 공용 css/ js 추가 -->
    <th:block th:replace="~{common/common}"></th:block>
    <!-- myPage 전용  CSS -->
    <link rel="stylesheet" href="/css/myPage/myPage.css">
</head>
<body>

    <main>
    <!-- 헤더 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

 <section class="update-area">

  <div class="boardTitle-area">
              
    <h2 class="board-name">개인 정보 수정</h2> <!-- 가운데 배치 + 글씨 얇게 크기 줄이기 -->

  </div>
  

 
     <!-- 마이페이지 수정-->
  <section class="myPage-update">

    <!-- 프로필 부분  -->

    <div class="profile-updatecontainer">

      
      
    <form action="profileUpdate" method="POST"
    name="profileUpdateForm" id="profileUpdateForm">
    

    
    
      <!-- 닉네임 -->
      <div class="memberNicknamebox">
        <label>닉네임</label>
        <input type="text" id="memberNickname" name="memberNickname" 
        maxlength="10"  
        th:value="${session.loginMember.memberNickname}">

        
      </div>
      
         <!-- 전화번호 입력 -->
       
      <div class="memberTelbox">
          <label>전화번호</label>
          <input type="text" name="memberTel" id="memberTel"  maxlength="11"
          th:value="${session.loginMember.memberTel}">
      </div>
  
    

      <button id="updateOneBtn">닉네임/전화번호 수정</button>


    
     </form>
   </div>

     
      
  </section>


    <section class="profile-updatecontent">
      
   

     
      <div class="profile-updatebox">


    
       
        <h1 class="myPage-title">비밀번호 변경</h1>
        <span class="myPage-subject">현재 비밀번호가 일치하는 경우 
            새 비밀번호로 변경 가능</span>


            <form action="changePw" method="POST" name="changePwForm" id="changePwForm">

              <div class="myPage-row">
                <label>현재 비밀번호</label>
                <input type="password" name="currentPw" id="currentPw" maxlength="30" >              
            </div>

            <div class="myPage-row">
                <label>새 비밀번호</label>
                <input type="password" name="newPw" id="newPw" maxlength="30">              
            </div>

            <div class="myPage-row">
                <label>새 비밀번호 확인</label>
                <input type="password" name="newPwConfirm" id="newPwConfirm" maxlength="30">              
            </div>

             
            <button id="changePwBtn">비밀번호 수정</button>


            </form>

           

          </div>
      
  
     
      </section>
      


    </section>
      
    <!-- 다시 프로필로 보내는 버튼 -->
        <div class="profileUpdateBtn-area">
          <button id="profileCompeleteBtn">개인정보 수정 완료</button>
        </div>





  </section>
  </main>

     <!-- 푸터 추가 -->
     <th:block th:replace="~{common/footer}"></th:block>



    <script src="/js/myPage/myPageUpdate.js"></script>

</body>
</html>