<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title><!-- 첫 화면 -->

    <!-- 공용 css/ js 추가 -->
    <th:block th:replace="~{common/common}"></th:block>
    <!-- myPage 전용  CSS -->
    <link rel="stylesheet" href="/css/myPage/myPage.css">
</head>
<body>
    <main>

        <!-- 헤더 추가 -->
        <th:block th:replace="~{common/header}"></th:block>

        <section class="myPage-content">


            <!-- 여기에  페이지 이름이랑 버튼들 추가 -->

           

            <div class="boardTitle-area">
              
              <h2 class="board-name">마이페이지</h2> 

            </div>
            


          <!-- 마이페이지 메뉴 버튼 -->
          <div class="listbtn-area">
            
              <button type="button" class= "button" id="profileListBtn">프로필</button>
            
            
              <button type="button" class= "button" id="adoptionListBtn">입양 리스트</button>
           
            
              <button type="button" class= "button" id="boardListBtn">내가 쓴 게시글</button>
            
            
              <button type="button" class= "button" id="commentListBtn">내가 쓴 댓글</button>
            

              <button type="button" class= "button" id="likeListBtn">북마크한 게시글</button>
            
          </div>




         <!-- 마이페이지 본문 -->
      <section class="myPage-main">

          <!-- 프로필  -->

        <div class="profile-container" id="profileContainer">

                    
          <form action="profile" method="POST"
          name="profileForm" id="profileForm" enctype="multipart/form-data">
          
            <!-- session.loginMember.profileImg ?:  -->
              <div class="profileImg-area">

                <img th:with="user=#{user.default.image}" 
                th:src="${user }" 
                id="profileImg">

              </div>
              

              <span id="deleteImage">x</span>


              <div class="profile-btn-area">
                <label for="imageInput">이미지 선택</label>
                <input type="file" name="profileImg" id="imageInput" accept="image/*">
                <button id="pImageUpdate">변경하기</button>
                
              </div>

            
              
              <p id="profileNickName">닉네임</p>
    
   
            
          </form>


              <div>
                <button id="profileUpdateBtn">개인정보 수정하기</button>
              </div>


              <div class="memberDelete-area"></div>
                  <form action="memberdel" method="POST" name="memberDel" id="memberDel">

                  
                    <button id="memberDelBtn">회원 탈퇴</button>
                  
                  </form>

              </div>
            
        </div>
                    
            
           
             <!-- 
                //입양 리스트 페이지 
            <table border="1" style="border-collapse: collapse; text-align: center;">
              <thead>
                <tr>
                  <th>이미지</th>
                  <th>이름</th>
                  <th>나이</th>
                  <th>종</th>
                  <th>발견장소</th>
                 
                </tr>
              </thead>

              // 나중에 채우기 
              <tbody id="tbody">
                <th:block th:each="item, iterStat : ${items}">
                    <tr>
                        <td>이미지</td>
                        <td>이름</td>
                        <td>나이</td>
                        <td>종</td>
                        <td>발견장소</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            // 가로 실선을 나타내는 div 
                            <div class="horizontal-line"></div>
                        </td>
                    </tr>
                </th:block>
            </tbody>
            </table>

            //나중에 버튼 지우고 js에서 append하게 할거임

            <div class="adoptionbtn-area">
              
              <button type="button" class= "button" id="adoption-updateBtn">수정</button>
            

              <button type="button" class= "button" id="adoption-completeBtn">입양완료</button>
            
            </div> 
                 -->
                 

               <!-- ----------------------------------------------------------- -->

                    <!--  //입양 리스트 페이지 --> 

                <!--  <div class="profile-container">
                 
                 
            
                  <table class="adoptionList-container board-table">
                    <thead>
                      <tr>
                        <th>이미지</th>
                        <th>이름</th>
                        <th>나이</th>
                        <th>종</th>
                        <th>발견장소</th>
                        <th>버튼</th>
                       
                      </tr>
                    </thead>
      
                    <tbody id="adoptionTbody">
      
                      <tr>
                        <td><img src="/images/cat1.jpg" id="adoptionProfileImg" alt="입양 리스트 이미지"></td>
                        <td>고등어</td>
                        <td>2살</td>
                        <td>코리안 숏헤어</td>
                        <td>ㅇㅇ 시 ㅇㅇ구 ㅇㅇ동 ㅇㅇㅇ동 어디 어디</td>
                        <td class="adoptionbtn-area">
                          <button type="button" class= "button" id="adoption-updateBtn">수정</button>
                  
      
                          <button type="button" class= "button" id="adoption-completeBtn">입양완료</button>
                        
                        </td>
                      </tr>
      
                    </tbody>
                  </table>
                  </div>

 -->


              <!-- ------------------------------------------------------- -->




            <!-- 내가 쓴 게시글 (입양후기) -->

           <!--  <div class="profile-container">

              <table class="board-table review-table">
                <thead>
                  <tr>
                    <th>게시글 제목</th>
                    <th>조회수</th>
                    <th>댓글</th>
                    <th>게시일</th>
                  </tr>
                </thead>

                <tbody id="reviewList"> 
                  <tr>
                    <td>안녕하세요</td>
                    <td>100</td>
                    <td>10</td>
                    <td>2024.04.02</td>
                  </tr>

                  <tr>
                    <td>입양후기</td>
                    <td>24</td>
                    <td>1</td>
                    <td>2024.03.02</td>
                  </tr>
                  <tr>
                    <td>커뮤니티 게시글</td>
                    <td>1</td>
                    <td>23</td>
                    <td>2024.02.02</td>
                  </tr>

                   
                </tbody>
              </table>
            </div>
            -->

            <!-- 내가 쓴 댓글 -->
           <!--  <div class="profile-container">

              <table class="board-table col-2">
                <thead>
                  <tr>
                    <th>게시글 제목</th>
                    <th>내가 쓴 댓글 내용</th>  
                  </tr>
                </thead>

                <tbody id="commentList">
                  <tr>
                    <td>안녕하세요</td>
                    <td>와오앙</td>
                  </tr>

                  <tr>
                    <td>입양후기</td>
                    <td>예뻐요</td>
                  </tr>
                  <tr>
                    <td>커뮤니티 게시글</td>
                    <td>와오앙</td>
                  </tr>


                </tbody>
              </table>
            </div>
 -->

          <!-- ---------------------------------------------------- -->

            <!-- 북마크 -->
          <!--   <div class="profile-container">

              <table class="board-table col-2">
                <thead>
                  <tr>
                    <th>제목</th>
                    <th>입양 완료</th>  
                  </tr>

                </thead>

                <tbody id="bookmarkList">
                  <tr>
                    <td><a href="#">종로구/푸들</a></td>
                    <td>완료</td>
                  </tr>

                  <tr>
                    <td><a href="#">남대문구/말티즈</a></td>
                    <td>미완료</td>
                  </tr>

                  <tr>
                    <td><a href="#">중구/무슨 강아지</a></td>
                    <td>완료</td>
                  </tr>
                </tbody>
              </table>
            </div> -->



         </section>

        </section>

    </main>

    <!-- 푸터 추가 -->
    <th:block th:replace="~{common/footer}"></th:block>

    
    


        <!-- 타임리프 코드를 JS 코드로 해석해줌 -->
        <script th:inline="javascript">
          const loginMemberProfileImg = /* [[${session.loginMember.profileImg}]] */"회원 프로필 이미지";
        </script>

    <script src="/js/myPage/myPage.js"></script>
</body>
</html>