<header>

    <!-- 로그인, 회원가입 -->
    <section class="header-top-menu">
        <div>
            <a href="/member/login">로그인</a>|<a href="/member/signup">회원가입</a>
        </div>
    </section>

    <!-- 로고(사진, 글) -->
    <section class="home-logo-area">
        <a href="/"><img src="/images/logo.png" alt="메인 로고" id="homeLogoImage"></a>
        <a href="/" id="homeLogoTitle">PAWLIFE</a>  
    </section>

    <!-- 네비게이션 바 -->
    <section>
        <nav>
            <ul>
                <li><a href="/">홈</a></li>
                <li><a href="/adoption/adoptionList">입양</a></li>
                <li><a href="#">후기</a></li>
                <li><a href="#">마이페이지</a></li>
            </ul>
        </nav>
    </section>
</header>