<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>메인</title>


   <!-- templetes/common/common.html  조각 추가 -->
   <th:block th:replace="~{common/common}"></th:block>

</head>
<body>
   <main>
      <!-- templetes/common/header.html  조각 추가 -->
      <th:block th:replace="~{common/header}"></th:block>
      

      <div class="slideshow-container">

         <div class="mySlides fade">
            <img src="/images/dog1.jpg">
         </div>
         
         <div class="mySlides fade">
            <img src="/images/dog2.jpg">
         </div>
         <div class="mySlides fade">
            <img src="/images/dog3.jpg">
         </div>
      </div>
         
      <div style="text-align:center">
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         
      </div>

      <!-- 레이아웃용 빈공간, 빠른 도구 영역 -->
      <section class="content1">
         <h2>Pawlife에서 새로운 가족을 찾아보세요!</h2>
         <h3>빠른 로그인</h3>
         <button class="quickLogin">member01@kh.or.kr</button>
         <button class="quickLogin">member02@kh.or.kr</button>
      </section>

      <!-- 게시판 영역 -->
      <section class="content2">
      
         <!-- 입양 게시판 -->
         <div class="card-container">
            <a href="/adoption/adoptionList">입양 게시판<i class="fa-solid fa-chevron-right"></i></a>

            <div  class="card-row">

               <a 
               href="#"
               class="card" th:each="adopt : ${adoptList}" th:object="${adopt}" th:if="${adoptStat.index} lt 4">
                  <!-- <a th:href="@{/adoption/adoptionList/{adoptNo} (adoptNo=*{adoptNo},cp=${pagination.currentPage})}" class="link"></a> -->
                  <img class="card-img" th:src="*{thumnail}">
                  <span th:text="*{adoptTitle}" class="card-title">예쁜 강아지</span>
               </a>


            </div>
            <div  class="card-row">

               <div class="card" th:each="adopt : ${adoptList}" th:object="${adopt}" th:if="${adoptStat.index} lt 8 and ${adoptStat.index} gt 3">
                  <!-- <a th:href="/adoption/adoptionDetail" class="link"></a> -->
                  <img class="card-img" th:src="*{thumnail}">
                  <span th:text="*{adoptTitle}" class="card-title">예쁜 강아지</span>
               </div>


            </div>


            <!-- <div class="card-row">
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/dog1.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">예쁜 강아지</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/dog2.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">귀여운 강아지</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/dog3.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">졸린 강아지</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/dog4.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">집 가고싶은 강아지</span>
               </div>
            </div> -->

            <!-- <div class="card-row">
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/cat1.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">예쁜 고양이</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/cat2.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">귀여운 고양이</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/cat3.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">누워있는 고양이</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/cat4.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">집 가고싶은 고양이</span>
               </div>
            </div>-->
         </div> 

         <!-- 후기 게시판 -->
         <div class="card-container">
            <a href="/review/reviewList">입양 후기 게시판<i class="fa-solid fa-chevron-right"></i></a>

            <div class="card-row">
               <div class="card">
                  <!-- 1,2,3,4 -->
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/cat1.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">예쁜 고양이</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/cat2.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">귀여운 고양이</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/cat3.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">누워있는 고양이</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/cat4.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">집 가고싶은 고양이</span>
               </div>
            </div>

            <div class="card-row">
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/dog1.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">예쁜 강아지</span>
               </div>
               <!--  -->
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/dog2.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">귀여운 강아지</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/dog3.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">졸린 강아지</span>
               </div>
               <div class="card">
                  <a href="/adoption/adoptionDetail" class="link"></a>
                  <img class="card-img" src="/images/dog4.jpg" alt="게시판 썸네일 이미지">
                  <span class="card-title">집 가고싶은 강아지</span>
               </div>
            </div>
         </div>
      </section>






   </main>

   <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

   <script src="/js/main.js"></script>

</body>
</html>