<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>메인</title>


   <!-- templetes/common/common.html  조각 추가 -->
   <th:block th:replace="~{common/common}"></th:block>

</head>
<body>
   <main>
      <!-- templetes/common/header.html  조각 추가 -->
      <th:block th:replace="~{common/header}"></th:block>
      

      <div class="slideshow-container">

         <div class="mySlides fade">
            <img src="/images/dog1.jpg">
         </div>
         
         <div class="mySlides fade">
            <img src="/images/dog2.jpg">
         </div>
         <div class="mySlides fade">
            <img src="/images/dog3.jpg">
         </div>
      </div>
         
      <div style="text-align:center">
         <span class="dot"></span> 
         <span class="dot"></span> 
         <span class="dot"></span> 
         
      </div>

      <!-- 레이아웃용 빈공간, 빠른 도구 영역 -->
      <section class="content1">
         <h2>Pawlife에서 새로운 가족을 찾아보세요!</h2>
         <h3>빠른 로그인</h3>
         <button class="quickLogin">member01@kh.or.kr</button>
         <button class="quickLogin">member02@kh.or.kr</button>
      </section>

      <!-- 게시판 영역 -->
      <section class="content2">
      
         <!-- 입양 게시판 -->
         <div class="card-container">
            <a href="/adoption/adoptionList">입양 게시판<i class="fa-solid fa-chevron-right"></i></a>


            <!-- 게시글 미존재시 -->
            <th:block th:if="${#lists.isEmpty(adoptList)}">
                <tr>
                    <th colspan="6">게시글이 존재하지 않습니다.</th>
                </tr>
            </th:block>

            <!-- 게시글 존재시 -->
            <div class="card-row">
               <a class="card" th:each="adopt : ${adoptList}" th:object="${adopt}" th:if="${adoptStat.index} lt 4"
                  th:href="@{/adoption/adoptionList/{adoptNo} (adoptNo=*{adoptNo})}"> <!-- a 태그 내 class="link" : 원래 추가되어있던 클래스 -->
                    <img class="card-img" th:src="*{thumnail}">
                    <span class="card-title" th:text="*{adoptTitle}">입양 게시글 제목</span>
               </a>
            </div>

            <div class="card-row">
               <a class="card" th:each="adopt : ${adoptList}" th:object="${adopt}" th:if="${adoptStat.index} lt 8 and ${adoptStat.index} gt 3"
                  th:href="@{/adoption/adoptionList/{adoptNo} (adoptNo=*{adoptNo})}"> <!-- a 태그 내 class="link" : 원래 추가되어있던 클래스 -->
                    <img class="card-img" th:src="*{thumnail}">
                    <span class="card-title" th:text="*{adoptTitle}">입양 게시글 제목</span>
               </a>
            </div>
         </div> 

         <!-- 후기 게시판 -->
         <div class="card-container">
            <a href="/review/reviewList">입양 후기 게시판<i class="fa-solid fa-chevron-right"></i></a>

            <!-- 게시글 존재시 -->
            <div class="card-row">
               <a class="card" th:each="review : ${reviewList}" th:object="${review}" th:if="${reviewStat.index} lt 4"
                  th:href="@{/review/reviewList/{reviewNo} (reviewNo=*{reviewNo})}"> <!-- a 태그 내 class="link" : 원래 추가되어있던 클래스 -->
                    <img class="card-img" th:src="*{thumnail}">
                    <span class="card-title" th:text="*{reviewTitle}">후기 게시글 제목</span>
               </a>
            </div>

            <div class="card-row">
               <a class="card" th:each="review : ${reviewList}" th:object="${review}" th:if="${reviewStat.index} lt 8 and ${reviewStat.index} gt 3"
                  th:href="@{/review/reviewList/{reviewNo} (reviewNo=*{reviewNo})}">
                    <img class="card-img" th:src="*{thumnail}">
                    <span class="card-title" th:text="*{reviewTitle}">후기 게시글 제목</span>
               </a>
            </div>
         </div>





            <!-- <div class="card-row">
               <a class="card" th:each="review : ${reviewList}" th:object="${review}" th:if="${adoptStat.index} lt 4"
                  th:href="@{/review/reviewList/{reviewNo} (reviewNo=*{reviewNo})}">
                    <img class="card-img" src="/images/logo.png" id="card">
                    <span class="card-title" th:text="*{reviewTitle}">예쁜 강아지</span>
               </a>
            </div> -->

         </div>
      </section>






   </main>

   <!-- templetes/common/footer.html  조각 추가 -->
   <th:block th:replace="~{common/footer}"></th:block> 

   <script src="/js/main.js"></script>

</body>
</html>