
nav {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  height: 50px;
  position: sticky;
  z-index: 1000;

}

.div{
  overflow: visible;
  border:2px solid grey;
  
}

.signUp-content{
    display: flex;
    
    justify-content: center;
    height: auto;
    
}
  
  
  #signUpForm{
    margin-top: 30px;
  }
  
  #signUpForm > label{
    display: block;
    margin-top: 40px;
    font-size: 18px;
  }
  
  #signUpForm > span{
    display: block;
    height: 20px;
  }
  
  /* 필수 작성 */
  .required:first-child{
    color: rgb(255, 48, 48);
  }

  .required:last-child{
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 0 5px;
  }
  
  /* input 태그를 감싸고 있는 div 태그 */
  .signUp-input-area{
    width: 500px;
    height: 50px;
  
    margin-bottom: 10px;
    border-bottom: 2px solid var(--main-color);
  
    display: flex;
    align-items: center;
  }
  
  .signUp-input-area > input{
    width: 70%;
    height: 100%;
  
    padding : 15px 10px 5px;
    font-size: 15px;
    font-weight: lighter;
  
    border : none;
    outline: none;
  }

 
  .signUp-input-area > button{
    width: 30%;
    height: 70%;
    background-color: white;
    border: 1px solid var(--main-color);
    cursor: pointer;
  }
  
  /* :focus-within : 내부 input 요소에 포커스가 맞춰졌을 때 */
  .signUp-input-area:focus-within{
    border-bottom-color: lightblue;
  }
  
  
  /* 입력 관련 메세지 */
  .signUp-message{
    font-size: 13px;
    letter-spacing: -1px;
  }
  
  /* 메세지 색상 지정 */
  .confirm{ color : green; }
  .error{ color : red; }
  
  
  /* 회원가입 버튼 */
  #signUpBtn{
    width: 400px;
    height: 45px;
    padding: 10px;
    margin: 50px;
    border: none;
  
    font-size: 20px;
    font-weight: bold;
    background-color: #000000;
    color : white;
    cursor: pointer;
  }
  
  
  #signUpBtn:active{
    transform: scale(0.95);
  }
  



  




 